.filter-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.add-div {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}


.task-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    padding: 0.5em;
}

.add-task-form>.add {
    color: black;
    background-color: #69acdd;

}