<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="~/Name.cshtml">
        <p>
            <label for="name"> Input name: </label>
            <input name="name" value="" />

        </p>
        <input type="submit" value="Enter" />

    </form>
</body>
</html>
